<html>

<body>
	<div>
        <form action="/login" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
	<div>Список сообщений</div>
    <form method="post" action="search">
        <input type="text" name="search">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Найти/Показать все</button>
    </form>
    <div>
        <form method="post" action="/main">
            <input type="text" name="title" placeholder="Введите заказ" />
            <input type="text" name="address" placeholder="Адрес">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Отдать заказ курьеру</button>
        </form>
    </div>
    {{#orders}}
    <div>
		<b>{{id}}</b>
		<span>{{title}}</span>
		<span>{{address}}</span>
		<span>{{status}}</span>
		<a href="/delete?id={{id}}" role="button">Удалить</a>	
    </div>
    {{/orders}}
</body>
</html>