<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
        <form action="/login" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Выйти"/>
        </form>
    </div>
<h1>Вот твои заявки</h1>
<div>Список сообщений</div>
    <form method="post" action="searchBid">
        <input type="text" name="searchBid">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Найти/Показать все</button>
    </form>
<div>
{{#orders}}
        <div>
		<b>{{id}}</b>
		<span>{{title}}</span>
		<span>{{address}}</span>
		<span>{{date}}</span>
		{{#battonOne}}
			<a href="/operator?id={{id}}" >Позвонить клиенту</a>
		{{/battonOne}}
		{{#battonTwo}}
			<a href="/deletebid?idOrder={{id}}" role="button">Отдать заказ курьеру</a>	
		{{/battonTwo}}
		</div> 
{{/orders}}
</div> 
</body>
</html>