  
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Регистрация</title>
</head>
<body>
Регистрация
{{#message}}
	{{message}}
{{/message}}
<form action="/registration" method="post">
    <div><label> Логин : <input type="text" name="username"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <div><b>Выберите вашу должность:</b></div>
    <div><input name="role" checked type="radio" value="COURIER" /> Курьер</div>
    <div><input name="role" type="radio" value="OPERATOR" /> Оператор</div>
    <div><input name="role" type="radio" value="ADMIN" /> Администратор</div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Зарегистрироваться"/></div>
</form>
<div>
        <form action="/main" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Вернуться на главную"/>
        </form>
    </div>
</body>
</html>